body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    background-color: aquamarine;
}

.myvideo {
    width: 500px;
    height: 300px;
}

#h1, #status {
    text-align: center;
    
}