#mybody {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    background-color: aquamarine !important;
    height: 100%;
}

.myvideo {
    width: 500px;
    height: 300px;
    padding-top: 100px;
}

#h1, #status {
    text-align: center;
    
}

#sticky-footer {
    flex-shrink: none;
    margin-top: 32em !important;
  }

#num1 {
    background: no-repeat url("./img/1.png") !important;
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

.controls {
    /* background: no-repeat url("./img/1.png"); */
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

.navbar-inverse .navbar-inner {
    background-color: #586214;
    background-image: none;
    }